.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .6rem;
  padding: 0 1.875rem;
  height: 2.4375rem;
  font-family: var(--font-primary);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 2.16;
  border-radius: 0.75rem;
  background: var(--color-primary);
  color: var(--color-white);
}


.btn:hover {
  background: var(--color-primary-hover);
}


.btnAnchor {
  font-family: var(--font-primary);
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 2.16;
  color: var(--color-primary);
  cursor: pointer;
}


.btnAnchor:hover {
  color: var(--color-primary-hover);
}